<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
		<div class="left-section">
			<p>Find me here: 
			<a target="_blank" href="https://www.linkedin.com/in/cheryl-lock-54a85626/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
			<a target="_blank" href="https://www.instagram.com/weary_wanderer_blog/?hl=en"><i class="fa-brands fa-instagram fa-xl"></i></a></p>
			<p><a href="/contact" class="button-solid">Let's Get to Work!</a></p>
		</div>

	    <div class="right-section">
			<div class="logo">
				<a href="/"><img src="/assets/images/cheryl-lock-icon-only2.png"></a>
			</div>
	        <span class="copyright">Copyright &copy; 2024 - Cheryl Lock</span>
	    </div>
	</div>
</footer>