/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0em) {
  
}
/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  
}

/* Large Desktop */
.print_clips {
	width: 100%;
	max-width: 1000px;
	margin: 50px auto;
}
.clip {
	display: inline-block;
	height: 250px;
	vertical-align: top;
	margin: 7px;
	text-align: left;
	width: 23%;
	padding: 5px 14px;
	overflow: hidden;
	transition: transform .2s; /* Animation */
}
.clip img {
	border-radius: 110px;
	border: solid 2px var(--primaryShade);
	height: 180px;
	width: 180px;
	padding: 3px;
}
.clip p {
	font-size: 13px;
	color: var(--bodyTextColor);
}
.clip h2 {
	color: var(--bodyTextColor);
	font-size: 11px;
	text-transform: uppercase;
	margin: -9px 0px;
}
.clip a {
	text-decoration: none;
}
.clip:hover {
	transform: scale(1.1);
}

/* <!-- Style for the modal --> */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /*-- -------------------------- -->
  <---    Website Clips Styles    -->
  <--- -------------------------- -*/ 
  .website_container {
	  margin: 0 auto;
	  max-width: 1000px;
  }
  .webclips-title {
	  color: var(--bodyTextColor);
	  padding: 20px 0px;
  }
  .personal_finance {
	  width: 100%;
	  max-width: 1200px;
	  margin: 20px auto 50px auto;	
  }
  .personal_finance h2 {
	  text-transform: uppercase;
	  font-size: 20px;
	  padding: 10px 0px;
	  color: var(--accent);
  }
  .personal_finance a {
	  text-decoration: none;
	  color: var(--primary);
  }
  .personal_finance .column_1 {
	  display: inline-block;
	  width: 28%;
	  vertical-align: top;
  }
  .personal_finance .column_2 {
	  display: inline-block;
	  width: 68%;
  }
  .personal_finance .column_2 p {
	  display: inline-block;
  }
  .personal_finance .column_2 span {
	  border-right: 3px solid var(--primaryShade);
	  padding-right: 5px;
	  color: var(--bodyTextColor);
  }
  /*-- -------------------------- -->
  <---    Special Content Styles    -->
  <--- -------------------------- -*/  
  
.custom_clips {
  	display: grid;
  	grid-template-columns: 1fr 3fr;
  	grid-template-rows: repeat(9, 1fr);
  	grid-column-gap: 20px;
  	grid-row-gap: 10px;
	width: 100%;
  	max-width: 1200px;
  	margin: 50px auto;
  }
  
  .custom_clips p {
	  border-right: solid 2px var(--primaryShade);
	  text-align: right;
	  padding-right: 10px;
	  color: var(--bodyTextColor);
  }
  .custom_clips a {
	  text-decoration: none;
	  color: var(--primary);
  }
  

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 4 / 1 / 5 / 2; }
.div8 { grid-area: 4 / 2 / 5 / 3; }
.div9 { grid-area: 5 / 1 / 6 / 2; }
.div10 { grid-area: 5 / 2 / 6 / 3; }
.div11 { grid-area: 6 / 1 / 7 / 2; }
.div12 { grid-area: 6 / 2 / 7 / 3; }
.div13 { grid-area: 7 / 1 / 8 / 2; }
.div14 { grid-area: 7 / 2 / 8 / 3; }
.div15 { grid-area: 8 / 1 / 9 / 2; }
.div16 { grid-area: 8 / 2 / 9 / 3; }
.div17 { grid-area: 9 / 1 / 10 / 2; }
.div18 { grid-area: 9 / 2 / 10 / 3; }

@media only screen and (max-width: 1000px) {
	.custom_clips {
	  	grid-template-columns: 1fr 2fr;
	  }
	  .website_container {
    	  margin: 0 auto;
		  max-width: 700px;
      }
	  .personal_finance .column_1, .personal_finance .column_2 {
		display: block;
		width: 100%;
	}
	.personal_finance .column_2 {
		padding-top: 30px;
	}
}
  
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }
}
/* Small Desktop */
@media only screen and (max-width: 1024px) {
	.clip {
    	width: 30%;
		text-align: center;
		margin: 1.3%;
    }
}

@media only screen and (max-width: 768px) {
	.clip {
    	width: 46%;
		text-align: center;
		padding-top: 10px;
		margin: 1.5%
    }
	.website_container {
		margin: 0 30px;
	}
}

@media only screen and (max-width: 500px) {
	.clip {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
	}
}
