#resume {
	max-width: 850px;
	border: solid 1px var(--primary);
	border-radius: 50px;
	margin: 30px auto;
}
.resume_section {
	margin: 30px 20px;
}
.resume_section p {
	font-size: 14px;
	color: var(--bodyTextColor);
}
p.center {
	text-align: center;
}
.right {
	text-align: right;
}

