#resume {
	max-width: 850px;
	margin: 30px auto;
}
#resume .container {
	border-top: solid 2px var(--primaryShade);
	border-bottom: solid 2px var(--primaryShade);
}
#resume_section a {
	color: var(--primary);
	text-decoration: none;
}
.resume_section {
	margin: 30px 20px;
}
.resume_section p {
	font-size: 14px;
	color: var(--bodyTextColor);
}
p.center {
	text-align: center;
}
.right {
	text-align: right;
}

